@{
    var usersWithRoles = ViewBag.UsersWithRoles as List<(string UserId, string Email, IList<string> Roles)>;
    var roles = ViewBag.Roles as SelectList;
}

<h2>Manage User Roles</h2>

@Html.ActionLink("Create New User", "CreateUser", null, new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in usersWithRoles)
        {
            <tr>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    @using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <select name="roleName" asp-items="roles"></select>
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <input type="submit" value="Assign" class="btn btn-default" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this user?');" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="userId" value="@user.UserId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

