@model ProductRecommendationViewModel

@{
    var settings = new Newtonsoft.Json.JsonSerializerSettings
    {
        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
    };
    var jsonModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model, settings);
}

<div class="nav-pills" style="display: flex; align-items: start; margin-top: 50px">
    <img src="@Model.ImgLink" alt="@Model.Name" style="flex-shrink: 0; width:500px; height:auto; margin-right: 50px;">
    <!-- Flex container for the title and button -->
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <button id="addToBagButton" class="btn btn-secondary" onclick="addToCart(@jsonModel)">
            Add to Bag
        </button>
    </div>
  <div style="flex-grow: 1; display: flex; justify-content: space-between; align-items: flex-start;">
    <div>
      <h2>@Model.Name</h2>
      <h3 style="font-weight: bold">$@Model.Price</h3>
      <!-- Rest of your content -->
    </div>
  </div>
    @section Scripts {
        <script>
            function addToCart(product) {
                var cart = JSON.parse(sessionStorage.getItem('cart')) || [];
                cart.push(product);
                sessionStorage.setItem('cart', JSON.stringify(cart));
                var button = document.getElementById("addToBagButton");
                button.innerHTML = '<i class="fas fa-check"></i> Item Added';
                button.classList.remove("btn-secondary");
                button.classList.add("btn-success");
            }
        </script>
    }
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Description
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            @Model.Description
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Details
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <strong>@Model.Name</strong><br/>
                Category: @Model.Category<br/>
                Year: @Model.Year<br/>
                No. of parts: @Model.NumParts<br/>
                Primary color: @Model.PrimaryColor<br/>
                Secondary color: @Model.SecondaryColor
            </div>
        </div>
      </div>
    </div>
  </div>

@* <div class="col-md-3"> *@
@*     <div class="recommendations-banner"> *@
@*         <div class="container"> *@
@*             <br/> *@
@*             <h4>Recommended Products</h4> *@
@*             <div class="recommendation-list"> *@
@*                 @if (!string.IsNullOrEmpty(Model.Rec1)) *@
@*                 { *@
@*                     <div class="recommendation-item"> *@
@*                         <img src="@Model.Rec1ImgLink" alt="@Model.Rec1" class="recommendation-image"> *@
@*                         <div class="recommendation-name">@Model.Rec1</div> *@
@*                     </div> *@
@*                 } *@
@*                 @if (!string.IsNullOrEmpty(Model.Rec2)) *@
@*                 { *@
@*                     <div class="recommendation-item"> *@
@*                         <img src="@Model.Rec2ImgLink" alt="@Model.Rec2" class="recommendation-image"> *@
@*                         <div class="recommendation-name">@Model.Rec2</div> *@
@*                     </div> *@
@*                 } *@
@*                 @if (!string.IsNullOrEmpty(Model.Rec3)) *@
@*                 { *@
@*                     <div class="recommendation-item"> *@
@*                         <img src="@Model.Rec3ImgLink" alt="@Model.Rec3" class="recommendation-image"> *@
@*                         <div class="recommendation-name">@Model.Rec3</div> *@
@*                     </div> *@
@*                 } *@
@*                 @if (!string.IsNullOrEmpty(Model.Rec4)) *@
@*                 { *@
@*                     <div class="recommendation-item"> *@
@*                         <img src="@Model.Rec4ImgLink" alt="@Model.Rec4" class="recommendation-image"> *@
@*                         <div class="recommendation-name">@Model.Rec4</div> *@
@*                     </div> *@
@*                 } *@
@*                 @if (!string.IsNullOrEmpty(Model.Rec5)) *@
@*                 { *@
@*                     <div class="recommendation-item"> *@
@*                         <img src="@Model.Rec5ImgLink" alt="@Model.Rec5" class="recommendation-image"> *@
@*                         <div class="recommendation-name">@Model.Rec5</div> *@
@*                     </div> *@
@*                 } *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
            <br/>
            @* <h4>Recommended Products</h4> *@
            @* <div class="recommendation-list"> *@
            @*     @if (!string.IsNullOrEmpty(Model.Rec1)) *@
            @*     { *@
            @*         <div class="recommendation-item"> *@
            @*             <img src="@Model.Rec1ImgLink" alt="@Model.Rec1" class="recommendation-image"> *@
            @*             <div class="recommendation-name">@Model.Rec1</div> *@
            @*         </div> *@
            @*     } *@
            @*     @if (!string.IsNullOrEmpty(Model.Rec2)) *@
            @*     { *@
            @*         <div class="recommendation-item"> *@
            @*             <img src="@Model.Rec2ImgLink" alt="@Model.Rec2" class="recommendation-image"> *@
            @*             <div class="recommendation-name">@Model.Rec2</div> *@
            @*         </div> *@
            @*     } *@
            @*     @if (!string.IsNullOrEmpty(Model.Rec3)) *@
            @*     { *@
            @*         <div class="recommendation-item"> *@
            @*             <img src="@Model.Rec3ImgLink" alt="@Model.Rec3" class="recommendation-image"> *@
            @*             <div class="recommendation-name">@Model.Rec3</div> *@
            @*         </div> *@
            @*     } *@
            @*     @if (!string.IsNullOrEmpty(Model.Rec4)) *@
            @*     { *@
            @*         <div class="recommendation-item"> *@
            @*             <img src="@Model.Rec4ImgLink" alt="@Model.Rec4" class="recommendation-image"> *@
            @*             <div class="recommendation-name">@Model.Rec4</div> *@
            @*         </div> *@
            @*     } *@
            @*     @if (!string.IsNullOrEmpty(Model.Rec5)) *@
            @*     { *@
            @*         <div class="recommendation-item"> *@
            @*             <img src="@Model.Rec5ImgLink" alt="@Model.Rec5" class="recommendation-image"> *@
            @*             <div class="recommendation-name">@Model.Rec5</div> *@
            @*         </div> *@
            @*     } *@
            @* </div> *@
            <br/>
            <h2>Recommended Products</h2>
            <br/>
<div class="container">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Rec1))
        {
            <div class="col-md-3 mb-4">
                            <div class="breadcrumb h-100">
                                <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Rec1 })" style="text-decoration: none; color: inherit;">
                                    <img src="@Model.Rec1ImgLink" alt="@Model.Rec1" class="card-img-top" style="width:100%; height:auto; margin-bottom: 20px">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">@Model.Rec1</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
        }
        @if (!string.IsNullOrEmpty(Model.Rec2))
        {
            <div class="col-md-3 mb-4">
                <div class="breadcrumb h-100">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Rec2 })" style="text-decoration: none; color: inherit;">
                        <img src="@Model.Rec2ImgLink" alt="@Model.Rec2" class="card-img-top" style="width:100%; height:auto; margin-bottom: 20px">
                        <div class="card-body text-center">
                            <h4 class="card-title">@Model.Rec2</h4>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Rec3))
        {
            <div class="col-md-3 mb-4">
                <div class="breadcrumb h-100">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Rec3 })" style="text-decoration: none; color: inherit;">
                        <img src="@Model.Rec3ImgLink" alt="@Model.Rec3" class="card-img-top" style="width:100%; height:auto; margin-bottom: 20px">
                        <div class="card-body text-center">
                            <h4 class="card-title">@Model.Rec3</h4>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Rec4))
        {
            <div class="col-md-3 mb-4">
                <div class="breadcrumb h-100">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = Model.Rec4 })" style="text-decoration: none; color: inherit;">
                        <img src="@Model.Rec4ImgLink" alt="@Model.Rec4" class="card-img-top" style="width:100%; height:auto; margin-bottom: 20px">
                        <div class="card-body text-center">
                            <h4 class="card-title">@Model.Rec4</h4>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
