@model TheLegoProject.Models.Product

<div class="nav-pills" style="display: flex; align-items: start; margin-top: 50px">
    <img src="@Model.ImgLink" alt="@Model.Name" style="flex-shrink: 0; width:500px; height:auto; margin-right: 50px;">
    <div style="flex-grow: 1;">
        <h2>@Model.Name</h2>
        <h3 style="font-weight: bold">$@Model.Price</h3>
        
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Description
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                @Model.Description
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                <strong>@Model.Name</strong><br/>
                Category: @Model.Category<br/>
                Year: @Model.Year<br/>
                No. of parts: @Model.NumParts<br/>
                Primary color: @Model.PrimaryColor<br/>
                Secondary color: @Model.SecondaryColor
              </div>
            </div>
          </div>
        </div>
    </div>
</div>