@{
    ViewData["Title"] = "Products";
}

@model ProductsListViewModel
<h1>All products</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>
<form asp-action="Products" method="get">Display by 
    <select name="pageSize" onchange="this.form.submit()">
        <option value="5" selected="@(Model.PaginationInfo.ItemsPerPage == 5)">5</option>
        <option value="10" selected="@(Model.PaginationInfo.ItemsPerPage == 10)">10</option>
        <option value="15" selected="@(Model.PaginationInfo.ItemsPerPage == 15)">15</option>
    </select>
    <input type="hidden" name="pageNum" value="@Model.PaginationInfo.CurrentPage" />
</form>
<br/>
<partial name="_CookieConsentPartial" />
<div class="row">
    @foreach (Product p in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="breadcrumb h-100">
                <a href="@Url.Action("ProductDetails", "Home", new { id = p.ProductId })" style="text-decoration: none; color: inherit;">
                    <img src="@p.ImgLink" alt="@p.Name" class="card-img-top" style="width:100%; height:auto; margin-bottom: 20px">
                    <div class="card-body text-center">
                        <h4 class="card-title">@p.Name</h4>
                        <h5 class="card-price" style="font-weight: bold;">$@p.Price</h5>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
<div style="text-align: center;">
    <div page-model="@Model.PaginationInfo" page-classes-enabled="true" page-action="Products" page-class="btn" 
         page-class-normal="btn-primary" page-class-selected="btn-outline-dark"></div>
</div>
